<!-- login.component.html -->
<div class="container mt-5  ">
  <div class="row">
    <!-- Colonne pour le formulaire de connexion -->
    <div class="col-md-6 offset-md-3 border p-3 mt-5">
      <h2 class="text-center mb-4">Connexion</h2>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="mb-3">
          <label for="email" class="form-label">Email:</label>
          <input id="email" formControlName="email" type="email" class="form-control" placeholder="Entrez votre email">
          <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid" class="text-danger">
            <div *ngIf="loginForm.get('email')?.hasError('required')">L'email est requis.</div>
            <div *ngIf="loginForm.get('email')?.hasError('email')">Format d'email invalide.</div>
          </div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Mot de passe:</label>
          <input id="password" formControlName="password" type="password" class="form-control" placeholder="Entrez votre mot de passe">
          <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid" class="text-danger">
            <div *ngIf="loginForm.get('password')?.hasError('required')">Le mot de passe est requis.</div>
            
          </div>
        </div>
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Se connecter</button>
        </div>
        <div class="text-center mt-3">
          <p class="mb-0">Pas encore de compte ? <a routerLink="/register" class="link-primary">Inscrivez-vous ici</a></p>
        </div>
      </form>
    </div>
  </div>
</div>
