<div class="cart">
    <h3>Panier 🛒</h3>
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let item of cartItems">
        <div>
          <img [src]="item.imageUrl" [alt]="item.title" width="50">
          <span>{{ item.title }} - {{ item.price | currency:'EUR' }} x {{ item.quantity }}</span>
        </div>
        <button class="btn btn-danger btn-sm" (click)="removeFromCart(item)">X</button> 
      </li>
      <li class="list-group-item" *ngIf="cartItems.length === 0">Panier vide</li>
    </ul>
    <div class="total">
      <h4>Total: {{ totalPrice | currency:'EUR' }}</h4> 
      
    </div>
  </div>
  