<!-- Affiche une liste de produits en utilisant le composant ProductItemComponent. Chaque produit est représenté par un élément div. -->
<!-- Utilise la directive *ngFor pour itérer sur la liste des produits. Chaque produit est accessible via la variable 'product'. -->
<!-- Utilise le composant ProductItemComponent pour afficher les détails de chaque produit. -->
<!-- Utilise les propriétés [imageUrl], [title], [description] et [price] pour passer les valeurs du produit au composant ProductItemComponent. -->
<!-- Utilise l'événement (add) pour ajouter le produit au panier. -->
<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4 mb-2" *ngFor="let product of products$ | async">
        <app-product-item
          class="mx-auto"
          [imageUrl]="product.imageUrl" 
          [title]="product.title" 
          [description]="product.description" 
          [price]="product.price"
          (add)="handleAddToCart($event)">
        </app-product-item>
      </div>
      <div *ngIf="(products$ | async)?.length === 0">
        <h4 class="text-center">Il n'y a plus de produit en vente  😔 </h4>

      </div>
    </div>
  </div>
  
