<!-- product-table.component.html -->
<div class="container">
    <h2 class="text-center my-4">Gestion des produits</h2>
    
    
      <div class="table-responsive" >
        <table class="table table-bordered"  >
          <thead>
            <tr *ngIf="(products$ | async)?.length != 0">
              <th>Image</th>
              <th>Titre</th>
              <th>Description</th>
              <th>Prix</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody> 
            <tr *ngFor="let product of (products$ | async) "   >
              <td><img [src]="product.imageUrl" [alt]="product.title" width="50"></td>
              <td>{{ product.title }}</td>
              <td>{{ product.description }}</td>
              <td>{{ product.price | currency:'EUR' }}</td>
              <td>
                <button (click)="updateProduct(product)" class="btn btn-warning btn-sm">Modifier</button>
                <button (click)="removeProduct(product)" class="btn btn-danger btn-sm">Supprimer</button>
              </td>
            </tr>
            
          </tbody>
        </table>
        <div *ngIf="(products$ | async)?.length === 0">
          <h3 class="text-center">Il n'y a plus de produit en vente  😔 </h3>

        </div>
      </div>

      

  </div>
  
